* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
  background: #37474f;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background: #263238;
  color: #fff;
  flex: 0 1 auto;
  padding: 115px 90px 20px;
}

header .right {
  float: right;
  color: #455a64;
  font-size: 10px;
  padding: 0 20px;
}

main {
  font-size: 0;
  flex: 1 1 auto;
  margin: 10px 90px;
}

main section {
  color: #fff;
  cursor: pointer;
  background: #455a64;
  width: 300px;
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}

main section span {
  font-size: 12px;
  color: #b0bec5;
}

main section p a {
  font-size: 14px;
  color: #fff;
  background: #607d8b;
  display: block;
  padding: 10px 2px;
  margin-top: 5px;
  text-decoration: none;
}

main section:hover {
  background: #546e7a;
}

footer {
  background-color: #546e7a;
  flex: 0 1 auto;
  padding: 10px 90px;
}

footer {
  display: flex;
  flex-direction: row;
}

footer section {
  font-size: 12px;
}

footer section h2 {
  margin: 5px 0 20px;
}

footer section a {
  color: #fff;
  text-decoration: underline;
}

footer section a:hover {
  background: #fff;
  color: #000;
}
